{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rate</title>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col sm12 md6 lg4">
                <div class="card-panel">
                    <h2 style=text-align:center;>Rate Now</h2>
                    <form action="{%url 'newrating' idd %}" method="post" enctype="multipart/form-data">
                        {%csrf_token%}

                        {% bootstrap_form form%}
                        <input type="submit" class="btn btn-primary btn-lg" value="Rate">
                    </form>

                    {% block scripts %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    {% bootstrap_javascript %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>