{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container" style="text-align: center;">
  <div class="pic">
    <div class="row">
      <div class="col sm12 md6 lg4">
       
          <h2 class="firstletter">{{schools.title}}</h2>

          <!-- <div class="card-panel"> -->
            <img class='soloimg' src="{{schools.image.url}}" width="500px" ;height="300px" alt="{{ schools.title }}">
            <!-- <div class="card-body"> -->
              <h5 class="card-title firstletter">{{schools.title}}</h5>
              <!-- <p class="card-text"> -->
                <p>{{schools.description}}</p>
                <p><a target="_blank" href="{{ schools.link }}"><button type="button" class="btn btn-info">View schools</button></a>
                <!-- </p> -->
              </p>

            <!-- </div> -->
          <!-- </div> -->
          <a href="{% url 'newrating' schools.id %}"><button type="button" class="btn btn-primary">Rate now</button></a>

          {% if ratings%}
          <div class="row ">
            <h5>Your Rates</h5>
            {% for rating in ratings %}
            <div class="col s12 m12 l4">
              <p>Affordability: {{rating.affordability}}</p>
              <p>Reliability: {{rating.reliability}}</p>
              <p>Conviniency: {{rating.conviniency}}</p>
              <p></p>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <h4> No Ratings as per now.</h4>
          {% endif %}
        </div>
  
    </div>
  </div>
</div>
{% endblock %}